* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Microsoft YaHei';
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0;
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

img {
    border: none;
    vertical-align: middle;
}

dl,
ul,
ol,
li,
{
    list-style: none;
}

input,
select,
textarea,
button {
    vertical-align: middle;
    border: none;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:active {
    text-decoration: none;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.clear {
    zoom: 1;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
}